@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

:root {
  --primaryBg: #fff;
  --primaryColor: #222;
  --secondaryColor: #d3bb8c;
  --secondaryColor2: #a18c61;
  --menuFont: "Oswald", sans-serif;
  --textFont: 'Signika Negative', sans-serif;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background: var(--primaryBg);
  color: var(--primaryColor);
  font-family: var(--textFont);
}

.page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.titlePage {
  color: #888;
  font-size: 10rem;
  font-family: var(--menuFont);
  letter-spacing: 10px;
  z-index: 99;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .titlePage {
    font-size: 3rem;
    letter-spacing: 1px;
    z-index: 99;
  }
}